@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-aaib-green: #1a4d2e;
  --color-aaib-accent: #2d7a46;
  --color-aaib-card: #d1e2d4;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #1a1a1a;
}

